
@font-face {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Roboto/Roboto-500/Roboto-500.eot');
  src: url('/fonts/Roboto/Roboto-500/Roboto-500.eot?#iefix') format('embedded-opentype'),
       local('Roboto Medium'),
       local('Roboto-500'),
       url('/fonts/Roboto/Roboto-500/Roboto-500.woff2') format('woff2'),
       url('/fonts/Roboto/Roboto-500/Roboto-500.woff') format('woff'),
       url('/fonts/Roboto/Roboto-500/Roboto-500.ttf') format('truetype'),
       url('/fonts/Roboto/Roboto-500/Roboto-500.svg#Roboto') format('svg');
}
