
@font-face {
  font-family: 'Roboto';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Roboto-300/Roboto-300.eot');
  src: url('/fonts/Roboto-300/Roboto-300.eot?#iefix') format('embedded-opentype'),
       local('Roboto Light'),
       local('Roboto-300'),
       url('/fonts/Roboto-300/Roboto-300.woff2') format('woff2'),
       url('/fonts/Roboto-300/Roboto-300.woff') format('woff'),
       url('/fonts/Roboto-300/Roboto-300.ttf') format('truetype'),
       url('/fonts/Roboto-300/Roboto-300.svg#Roboto') format('svg');
}
